<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" intial-scale="1">
	<link rel="stylesheet" type="text/css" href="./css1/explore.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- list font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Itim&family=Open+Sans&family=Texturina:wght@200&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">


	<!-- h2 font -->

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">

	<title>explore</title>


</head>

<body>

	<div>
		<h2 class="headerh2">Visualize data structure and algorithms here!!</h2>
		<div class="search-container">
			<!-- <input type="text" onkeyup="myFunction()" placeholder="Search..."> -->
			<input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</div>
	<div class="data">
		<ul id="myMenu">
			<li class="structure">
				<a href="./stack/stack.html"><img src="./images/stack.jpg" width="350" height="200" class="static">
					<img src="./images/stack.gif" width="350" height="200" class="active">Stack</a> </li>

			<li class="structure">
				<!-- <p>Queue</p></li> -->
				<a href="./queue/que.html"><img src="./images/queue.jpg" width="350" height="200" class="static">
					<img src="./images/queue.gif" width="350" height="200" class="active">Queue</a> </li>

			<li class="structure">
				
				<!-- <p>linked list</p></li> -->
				<a><img src="./images/ll.jpg" width="350" height="200" class="static">
					<img src="./images/ll.gif" width="350" height="200" class="active">linked list</a></li>

			<li class="structure">
				<!-- <p>Sorting algorithm</p></li> -->
				<a href="./searchSort/index.html"><img src="./images/sort.jpg" width="350" height="200" class="static">
					<img src="./images/sort.gif" width="350" height="200" class="actives">Searching & Sorting</a> </li>

			<li class="structure">
				<!-- <p>binary search tree</p></li> -->
				<a href="./Tree Work/treeindex.html"><img src="./images/bst.gif" width="350" height="200" class="image">Binary Search Tree</a> </li>
			
				<li class="structure">
				<!-- <p>graph traversal</p></li> -->
				<a><img src="./images/graph.gif" width="350" height="200" class="image">graph traversal</a></li>

		</ul>
	</div>
	<div class="not-found" style="display:none">Not Found</div>
	
	<script>
		function myFunction() {
			// Declare variables
			var input, filter, ul, li, a, i;
			input = document.getElementById("mySearch");
			filter = input.value.toUpperCase();
			ul = document.getElementById("myMenu");
			li = ul.getElementsByTagName("li");
			
			// Loop through all list items, and hide those who don't match the search query
			for (i = 0; i < li.length; i++) {
				a = li[i].getElementsByTagName("a")[0];
				if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
					// $('.not-found').css('display', 'block');
					li[i].style.display = "";
				} else {
					li[i].style.display = "none";
					
				}
			}
		}
	</script>
</body>

</html>