

/*
#efd3d7 - light skin
#073b4c -dark or navy blue
#cfe1b9 - light mehendi
#023047 - blue
edf6f9 - ice blue
#1F454C - green blue dark

*/

body {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: #e0fbfc;
  /*background-image: url(file:///C:/Users/pp/Desktop/TY%20cllg/TY%20mini%20project/project/images/bg4.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
}


.headerh2{
  font-size: 50px;
  text-align: justify;
  max-height: 400px;
  /*line-height: ;*/
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Texturina', serif;
  font-weight: bold;
  background: url('../images/bg9.jpg');
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 1s forwards;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}


/*_________________________________input search____________________________________*/


.search-container{
	margin: 0 auto;
	text-align: center;
}

input{
	
	align-content: center;
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
    border: 1px thin black;
    margin-top: 8px;
    margin-right: 0px;
    font-size: 17px;
    position: relative;
}

input:hover{
	background: #dba6a6;
}

.search-container button{
	background-color: white;
    padding: 8px; 

    margin-top: 8px;
    margin-right: 16px;
    margin-left: 0px;
    font-size: 17px;
    cursor: pointer;
}

.search-container button:hover {
  background: #edf6f9;
}


/*----------------------------------------------data structure sections------------------------- */
.structure a{
  text-decoration: none;
  color: inherit;
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}

.data{
	margin-top: 80px;
	display: grid;
	text-decoration: none;
	grid-template-columns: repeat(3,2fr);
	grid-row-gap: 100px;
	grid-column-gap: 50px;
	margin-bottom: 80px;
	font-family: 'Pangolin', cursive;
}

.data li{
	width: 350px;
	height: 250px;
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	/*border-radius:10px;*/
}

#myMenu li{
  white-space: normal;
  float: left;
  width: 350px;
  height: auto;
  margin: 5px 5px;
}
#myMenu li a{
color: white;
}

.data{
    display: flex;
}

.structure{
	background-color:#1F454C;
	text-decoration: none;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 15px;
 
}
 
.structure:hover{ 
	/* opacity: 0.7; */
  background-color:#13272b;
  display: block;
  width: 100%;
  height: 270px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

p{
	margin-top: auto;
	color:white;
	font-size: 26px;
	padding: 15px;
	/*background-color: #f29559;*/
}











