html,
body {
    float: left;
    margin-top: 10px;
	margin-left: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: navajowhite; */
}

.box {
	display: flex;
}

.box .inner {
	width: 80px;
	height: 30px;
	line-height: 25px;
	font-size: 14x;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: indianred;
	color: darkred;
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: lightcoral;
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}