<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Series</title>
    
    <link href="./testseries.css" rel="stylesheet">
</head>

<body>
    <h2><cite>Take a Quiz!!</cite></h2>
    
    <ul>
        <div class="list">
        <li class="items"><a href="./Stack/test.html">Stack</a> </li>
        <li class="items"><a href="./Queue/test.html">Queue</a></li>
        <li class="items"><a href="./selection sort test/select.html">Selection Sort</a></li>
        <li class="items"><a href="./insertion test/insertion.html">Insertion Sort</a></li>
        <li class="items"><a href="./bubble sort test/bubble.html">Bubble Sort</a></li>
        <li class="items"><a href="./merge sort test/test.html">Merge sort</a></li>
        <li class="items"><a href="./quick sort test/quick.html">Quick Sort</a></li>
        <li class="items"><a href="./Linked-List/test.html">Linked List</a></li>
        <li class="items"><a href="./randomTest/random.html">All topics</a></li>
    </div>
    </ul>


</body>
</html>