body{
    max-width: 1200px;
    text-align: center;
    margin: auto;
    /* background: url('../views/img/q2.jpg') no-repeat; */
    background: url('./bgimg-test/q2.jpg') no-repeat;
    background-size: cover;
    align-items: center;
    
    
}

h2{
    margin-top: 120px;
   text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    
}

.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
	grid-row-gap: 20px;
	font-family: 'Pangolin', cursive;
    margin-left: 200px;
}


li{
    list-style: none;
    width: 100px;
    height: 50px;
    background-color: peru;
    margin-top: 20px;
	padding: 20px;
	text-decoration: none;
    border-radius: 4px;  
}

a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Pangolin', cursive;
}

li:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: white;
}

li:visited{
    color: white;
}