<!DOCTYPE html>
<html>

<head>
	<title>Welcome</title>

	<link rel="stylesheet" href="about.css">

</head>

<body>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>About</p>
		</div>
		<div>

			<p class="para">
				&nbsp;&nbsp;&nbsp;&nbsp;
				VizAlgo was conceptualised in 2021 by Nidhi Patel, Onkar Kadam, Sanket Bendale as a tool to help
				students better understand data structures and algorithms, by allowing them to learn the basics on their
				own and at their own pace. <br>
				&nbsp;&nbsp;&nbsp;&nbsp;
				VizAlgo contains many advanced algorithms that are discussed in Dr Steven Halim's book ('Competitive
				Programming', co-authored with his brother Dr Felix Halim) and beyond. Today, some of these advanced
				algorithms visualization/animation can only be found in VizAlgo.
				
				We hope that curious minds around the world will find these visualisations useful too.
				<br> &nbsp;&nbsp;&nbsp;&nbsp;
				VizAlgo is not designed to work well on small touch screens (e.g. smartphones) from the outset due to
				the need to cater for many complex algorithm visualizations that require lots of pixels and
				click-and-drag gestures for interaction. The minimum screen resolution for a respectable user experience
				is 1024x768 and only the landing page is relatively mobile-friendly.
	
				VizAlgo is an ongoing project and more complex visualisations are still being developed.
				<br> &nbsp;&nbsp;&nbsp;&nbsp;
				The most exciting development is the automated question generator and verifier (the online quiz system)
				that allows students to test their knowledge of basic data structures and algorithms. The questions are
				randomly generated via some rules and students' answers are instantly and automatically graded upon
				submission to our grading server. By setting a small (but non-zero) weightage on passing the online
				quiz, a CS instructor can (significantly) increase his/her students mastery on these basic questions as
				the students have virtually infinite number of training questions that can be verified instantly before
				they take the online quiz. The training mode currently contains questions for 8 visualization modules.
				We will soon add the remaining visualization modules so that every visualization module in VizAlgo have
				online quiz component.

			</p>

			<div class="abc">
				<a href="main_index.html">Back</a>
			</div>
		</div>
</body>

</html>